body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_content {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    width: 10em;
}

.text {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.7em;
}

.container_note {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_note {
    display: flex;
    align-items: center;
    background-color:  hsl(300, 24%, 96%);
    border-radius: 0.5em;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text_note {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.container_card {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.5em;
}

.container_identity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


.photo {
    border-radius: 100%;
    overflow: hidden;
    width: 2.5em;
    height: 2.5em;
}

.photo>img {
    height: 100%;
    width: auto;
}

.identity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1.8em
}

.name {
    color:  hsl(300, 24%, 96%);
    font-weight: 500;
}

.status {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
    margin-top: 0.2em;
}

.citation {
    color:  hsl(300, 24%, 96%);
    font-weight: 500;
    margin-top: 2em;
}

.attribution {
    margin-top: 1em;
}

/*ordinateur*/
@media only screen and (min-width: 1001px) {
    body {
        background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
        background-position: top -40px left -40px, bottom -50px right -50px;
        min-height: 100vh;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0% 10.7% 0% 11.2%;
    }

    .container_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content {
        display: flex;
        align-items: flex-start;
        width: 50%;
    }

    .title {
        font-size: 2.6em;
        line-height: 1em;
    }

    .text {
        font-size: 0.8em;
        margin-top: 1em;
    }

    .container_note {
        display: flex;
        align-items: flex-end;
        width: 50%;
    }

    .card_note {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.9em 1.5em;
        width: 21.7em;
    }

    .reviews {
        margin-right: 5em;
    }

    .report {
        margin: 1em 2.5em 1em 0;
    }

    .stars {
        margin-right: 1.6em;
    }

    .stars>img {
        width: 0.96em;
        height: auto;
        margin: 0.22em;
    }

    .text_note {
        font-size: 0.72em;
    }

    .container_card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 3.5em;
    }

    .card {
        padding: 2.2em 2.2em 2.2em 2.2em;
        width: 15.5em;
    }

    .Irene_Roberts {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1.5em;
    }

    .Anne_Wallace {
        margin-top: 3em;
    }

    .name {
        font-size: 0.7em;
    }

    .status {
        font-size: 0.7em;
    }

    .citation {
        font-size: 0.65em;
        line-height: 1.88em;
    }
}

/*mobile*/
@media only screen and (max-width: 1000px) {
    body {
        background-color: white;
        background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
        background-position: top, bottom;
    }

    .container {
        display: flex;
        justify-content: center;
        width: 22.8em;
        padding: 1em;
    }

    .container_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content {
        display: flex;
        align-items: center;
    }

    .title {
        text-align: center;
        font-size: 2em;
        margin-top: 1.85em;
        line-height: 1.1em;
    }

    .text {
        text-align: center;
        font-size: 0.9em;
        margin: 2em 0;
    }

    .container_note {
        display: flex;
        align-items: center;
    }

    .card_note {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 21.9em;
        margin-top: 1em;
        padding: 1em 0;
    }

    .stars {
        margin-bottom: 1em;
    }

    .stars>img {
        width: 1.1em;
        height: auto;
        margin: 0.29em;
    }

    .text_note {
        font-size: 0.87em;
    }

    .container_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 21.9em;
        margin-top: 3.2em;
    }

    .card {
        padding: 2.9em 2.2em 2.2em 2.2em;
        margin-bottom: 1em;
    }

    .Anne_Wallace {
        margin-bottom: 4em;
    }

    .name {
        font-size: 0.9em;
    }

    .status {
        font-size: 0.9em;
    }

    .citation {
        font-size: 0.83em;
        line-height: 1.8em;
    }
}